* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #ffffff;

}

h1,
h2,
h3,
h4 {
  font-family: "Cascadia Code", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  color: rgb(92, 87, 87);
}

/* NAV Bar */
nav {
  display: flex;
  font-size: 17px;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem ;
}

.nav2 {
  display: flex;
  gap: 4rem;
}

.nav3 {
  display: flex;
  gap: 1rem;
}

.sign-up-btn {
  background-color: #192d55;
  padding: 0.3rem 1rem;
  color: #ffffff;
  border-radius: 15px;
}
/* CSS for Theme mode */
label {
  position: absolute;
  width: 45px;
  height: 27px;
  right: 40px;
  top: 25px;
  border: 2px solid #192d55;
  border-radius: 20px;
}

label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #192d55;
  cursor: pointer;
  transition: 0.4s;
}

label.active:before {
  left: 24px;
  background: #fff;
}

body.night {
  background: #000;
  color: #fff;
}

/* End of css for theme mode */

/* Css for main nav */

html {
  scroll-behavior: smooth;
}